---
layout: default
---
{% if site.data.menu %} {% include menu.liquid %} {% else %} {% include back-link.liquid %} {% endif %}
  
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">
  {% if page.title %}
    <h1 class="post-title divided p-name" itemprop="name headline">{{ page.title }}</h1>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>
  {% if post.content %}
    <div class="post-meta">
      {% if page.author %}
        <div itemprop="author">{{ page.author }}</div>
      {% endif %}
      <time class="post-date dt-published" datetime="{{ page.date | localize: '%-d %b %Y'}}" itemprop="datePublished">
        {{- page.date | localize: '%-d %b %Y' -}}
      </time>
    </div>
  {% endif %}
  {% if site.disqus.shortname %} {% include disqus-comments.liquid %} {% endif %}
</article>
