---
layout: default
---
{% if site.data.menu %} {% include menu.liquid %} {% else %} {% include back-link.liquid %} {% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">
  {% if page.title %}
    <div class="divided">
      <h1 itemprop="name headline">{{ page.title }}</h1>
      <h4>{{ page.subtitle }}</h4>
    </div>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>
  {% if page.content %}
    <div class="post-meta">
      {% if page.author %}
        <div itemprop="author">{{ page.author }}</div>
      {% endif %}
      {% if page.date %}
        <div class="post-date dt-published" itemprop="datePublished">
          {{- page.date | localize: '%-d %b %Y' -}}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if site.disqus.shortname %} {% include disqus-comments.liquid %} {% endif %}
  <div class="previous-next">
    {% include previous-next.liquid %}
  </div>
</article>
